*{
    padding: 0%;
    margin:0%;
    border: 0%;
    font-family: 'Cabin', sans-serif;

}

body{
    background-color: #0e2533;
    z-index: 0;
}

.f1{
    color: gray;
    opacity: 0.1;
    font-size:100px;
    margin-top: -10px;
    z-index: 0;

}

.side-menu{
    width: 100px;
    height: 500px;
    position: fixed;
    top: 150px;
    left: 1400px;
    z-index: 1;
}

#sideicon{
    margin: 30px;
    font-size: 20px;
    color: white;
    
}

.A{
    width: 300px;
    height: 300px;
    background-size: 100%;
    background-repeat: no-repeat;
    overflow: hidden;
    border-radius: 10px;
    margin-left: 200px;


}

.B{
    width: 0px;
    height: 0px;
    background-color: green;
    margin: 140px;
    border-radius: 1px;
    transition: 0.5s;

}

.A:hover .B{
    width: 100%;
    height: 100%;
    margin: 0px;
    transition: 0.5s;
}

.C{
    font-size: 0px;
    color: white;
    padding-top: 70px;

}

.A:hover .C{
    font-size: 40px;
    transition-delay: 0.4s;
}
